services:
  nginx:
    container_name: chart-pattern-nginx
    build:
      context: ./web
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3001:80" # HTTP
    volumes:
      - ./infra/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./infra/nginx/logs:/var/log/nginx
    environment:
      - TZ=Asia/Seoul

  db:
    container_name: chart-pattern-db
    image: mysql:latest
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      TZ: Asia/Seoul
    ports:
      - "3306:3306"
    volumes:
      - ./infra/mysql/data:/var/lib/mysql

  api:
    container_name: chart-pattern-api
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    environment:
      - DB_USER=${MYSQL_USER}
      - DB_PASSWD=${MYSQL_PASSWORD}
      - DB_HOST=${MYSQL_HOST}
      - DB_PORT=${MYSQL_PORT}
      - DB_NAME=${MYSQL_DATABASE}
      - TZ=Asia/Seoul

  backtest:
    container_name: chart-pattern-backtest
    build:
      context: ./api
      dockerfile: Dockerfile
    environment:
      - DB_USER=${MYSQL_USER}
      - DB_PASSWD=${MYSQL_PASSWORD}
      - DB_HOST=${MYSQL_HOST}
      - DB_PORT=${MYSQL_PORT}
      - DB_NAME=${MYSQL_DATABASE}
      - TZ=Asia/Seoul
    # 백테스팅은 명령어로 실행 (기본 CMD는 무시됨)
    command: tail -f /dev/null
